{% load staticfiles %}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="probootstrap-footer-widget">
                <h3>Acerca de</h3>
                <p>Mi pagina web </p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="probootstrap-footer-widget">
                <h3>Blog</h3>

                {% if blog %}
                
                    {% for bg in blog %}
                        <ul class="probootstrap-blog-list">
                            <li>
                                <a href="#">
                                    <figure>
                                        <img src="{% static 'img/img_2.jpg' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive">
                                    </figure>
                                    <div class="text">
                                        <h4>{{ bg.title }}</h4>
                                        <a href="{% url 'post:detail_post' bg.id %}">Ver mas</a>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    {% endfor %}
                {% else %}

                    <ul class="probootstrap-blog-list">
                        <li>
                            Sin registros
                        </li>
                    </ul>
                    
                {% endif %}
                

            </div>
        </div>
        <div class="col-md-4">
            <div class="probootstrap-footer-widget">
                <h3>Contactos</h3>
                <ul class="probootstrap-contact-info">
                    <li>
                        <i class="icon-location2"></i>
                        <span>La Paz Bolivia</span>
                    </li>
                    <li>
                        <i class="icon-mail"></i>
                        <span>info@domain.com</span>
                    </li>
                    <li>
                        <i class="icon-phone2"></i>
                        <span>+123 456 7890</span>
                    </li>
                </ul>

            </div>
        </div>
    </div>
    <div class="row mt40">
        <div class="col-md-12 text-center">
            <ul class="probootstrap-footer-social">
                <li>
                    <a href="">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="icon-instagram2"></i>
                    </a>
                </li>
            </ul>
            <p>
                <small>&copy; {% now 'Y' %}
                    <a href="https://uicookies.com/" target="_blank">uiCookies:Sublime</a>. All Rights Reserved.
                    <br> Designed &amp; Developed by
                    <a href="https://uicookies.com/" target="_blank">uicookies.com</a> Demo Images: Unsplash</small>
            </p>

        </div>
    </div>
</div>