
<div class="container-fluid">

    <a href="index.html" class="probootstrap-logo">DjBlog
        <span>.</span>
    </a>

    <a href="#" class="probootstrap-burger-menu visible-xs">
        <i>Menu</i>
    </a>
    <div class="mobile-menu-overlay"></div>

    <nav role="navigation" class="probootstrap-nav hidden-xs">
        <ul class="probootstrap-main-nav">
            <li>
                <a href="">Inicio</a>
            </li>
            <li>
                <a href="{% url 'post:posts' %}">Blog</a>
            </li>
            <li>
                <a href="">Autores</a>
            </li>
            <li>
                <a href="">Recursos</a>
            </li>
            <li>
                <a href="">Contactos</a>
            </li>
        </ul>
        <div class="extra-text visible-xs">
            <a href="#" class="probootstrap-burger-menu">
                <i>Menu</i>
            </a>
            <h5>Social</h5>
            <ul class="social-buttons">
                <li>
                    <a href="#">
                        <i class="icon-twitter"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-instagram2"></i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="probootstrap-intro">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="probootstrap-animate">DjBlog Pyladies La Paz </h1>
                    <div class="probootstrap-subtitle probootstrap-animate">
                        <h2>El PyDay Vol. 1 es un dia para compartir con el objetivo de mostrar areas en las cuales Python se ha expandido y conocer a personas que han trabajado, estudiado, investigado, participado de alguna de estas areas. </h2>
                    </div>
                    <p class="watch-intro probootstrap-animate">
                        <a href="#">Pyladies La Paz</a>
                    </p>
                </div>
            </div>
        </div>
    </section>

</div>