{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %} <title></title>{% endblock title %}

    {% block description %}
        <meta name="description" content="Project Django">
        <meta name="keywords" content="Tags Django, Python, Postgres, Ajax , Jquery">
    {% endblock description %}    

    
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    
    <style>
/* Scroll Personalizado */

body::-webkit-scrollbar {
    width: 10px;
    background: #ffffff;
    }
    
    body::-webkit-scrollbar-thumb {
    background: rgb(82, 142, 231);
    border-radius: 7px;
    border-right: 2px solid #f6f6f7;
    }
    
    /* Selccion de Texto Con Fondo */
    ::-moz-selection {
    color: #fff;
    background: #528EE7;
    }
    
    ::selection {
    color: #fff;
    background: #528EE7;
    }
    </style>

    {% block extracss %}
        <!-- Block extracss -->
    {% endblock extracss %}

</head>

<body>

    <header role="banner" class="probootstrap-header">
        {% include 'partials/header.html' %}
    </header>

    {% block content %}
        <!-- Block Content -->
    {% endblock content %}

    <footer role="contentinfo" class="probootstrap-footer">
        {% include 'partials/footer.html' %}
    </footer>

    <script src="{% static 'js/scripts.min.js' %}"></script>
    <script src="{% static 'js/main.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>

    {% block extrajs %}
    <!-- extrajs -->
    {% endblock extrajs %}
</body>

</html>