{% extends 'base.html' %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>DjBlog</title> {% endblock title %}

     {% block description %}
      <meta name="description" content="Project Django Pyday pyladies La Paz">
      <meta name="keywords" content="Tags Django, Python, Postgres, Ajax , Jquery"> 
    {% endblock description %}

  </head>
  <body>
    
    {% block content %}

    <section class="probootstrap-section probootstrap-feature-first">
      <div class="container">
        <div class="row mb70" style="margin-top: -120px;">
          <div class="col-md-4 probootstrap-animate">
            <div class="probootstrap-box">
              <div class="icon">
                <i class="icon-presentation"></i>
              </div>
              <h3>Charlas</h3>
              <p>Charlas Python</p>
            </div>
          </div>
          <div class="col-md-4 probootstrap-animate">
            <div class="probootstrap-box">
              <div class="icon">
                <i class="icon-book"></i>
              </div>
              <h3>Talleres</h3>
              <p>Talleres Python</p>
            </div>
          </div>
          <div class="col-md-4 probootstrap-animate">
            <div class="probootstrap-box">
              <div class="icon">
                <i class="icon-megaphone2"></i>
              </div>
              <h3>Comunidades</h3>
              <p>Comunidades Python</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 probootstrap-animate">
            <p class="text-center">
              <a href="#" class="btn btn-primary btn-lg btn-block" role="button">{{ now }}</a>
            </p>
          </div>
        </div>
      </div>
    </section>
    
    <section class="probootstrap-section probootstrap-section-extra">
      <div class="container-fluid probootstrap-absolute">
        <div class="row">
          <div class="col-md-7 col-md-push-6 probootstrap-animate" data-animate-effect="fadeInRight">
            <img src="{% static 'img/img_showadmin.png' %}" alt="Free Bootstrap Template by uicookies.com" class="img-responsive shadow-left">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-5 col-md-5 section-heading probootstrap-animate">
            <h2>Acerca de mi</h2>
            {% if nombre %}
              <h3>
                 <strong>
                   {{ nombre }}
                 </strong>
              </h3>
            {% else %}
              <strong>
                Admin Admin
              </strong>
            {% endif %}

            {% if resenia %}       
            
              <blockquote class="probootstrap-quote">
                  <p>&ldquo;
                      {{ resenia }}
                    &rdquo;</p>
                  <p class="probootstrap-quote-author">
                    <img src="{% static 'img/foto_admin.png' %}" alt="Admin Photo"></p>
              </blockquote>

            {% else %}   
            
            <blockquote class="probootstrap-quote">
                <p>&ldquo;
                    Mi nombre completo es Admin Admin, de nacionalidad boliviana, paceñ@ y amante de la tecnología e innovación.
                  &rdquo;</p>
                <p class="probootstrap-quote-author">
                  <img src="{% static 'img/foto_admin.png' %}" alt="Admin Photo"></p>
            </blockquote>
            {% endif %}            
            
            
            {% if academico %}            
            <p class="lead">
              {% for a in academico %}            
                  {{ a.title }}
              {% endfor %}            
            </p>
            {% else %}            
            <p class="lead">
              Por definir
            </p>
            {% endif %}            
            

          </div>
        </div>
      </div>
    </section>
    
    
    <section class="probootstrap-section probootstrap-section-colored">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 section-heading mb50 text-center probootstrap-animate">
            <h2>Portafolio</h2>
          </div>
        </div>
        <div class="row">

          <div class="col-md-4 col-sm-6 col-xs-12 probootstrap-animate">
            <h3 class="heading-with-icon">
              <i class="icon-heart2"></i>
              <span>Trabajo 1</span>
            </h3>
            <p>
                Docente de DE Posgrado Unidad Académica La Paz
            </p>
          </div>

        </div>
      </div>
    </section>
    {% endblock content %}
  </body>
</html>